.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.main section {
    padding-top: 130px;
}
header {
    font-weight:bold;
}
.header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
   
}
.nameMary {
    font-weight: 800px;
    font-size: 45px;
}
/* common style */

.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: rgba(255, 255, 255, 1);
}
.text-center {
    text-align: center;
}
.btn-primary {
    background-color: #FD6E0A;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.navContainer ul {
    display: flex;
  
}
.navContainer ul li {
    list-style: none;
    margin-left: 50px;
}
.navContainer ul li a {
   text-decoration: none;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}
.banner-profile-picture {
    width: 580px;
  
}
.banner-content {
    max-width: 580px;
}

/* ! main style */
main {
    max-width: 1040px;
    margin: 0 auto;
}

/* About style */
.about {
    padding: 130px 156px;
    text-align: center;
    margin-top: 130px;

}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-description {
    font-weight: bold;
}

/*! What I do Section */

.skils-container {
    display: flex;
    gap: 24px;

}
.skills {
    padding: 30px;
}
.skil-item {
    background-color: #FFFFFF;
    padding: 30px;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
}
.section-description {
    padding:0px 88px;
    border-radius: 5px;
}

/* Resumi Section */

.resume-container {
    display: flex;
    gap: 20px;
}

.experience-title {
    color: #474747;
}
.experience-subtitle {
    color: #757575;
}
.experience-description {
    color: #757575;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}

.resume-title {
    margin-bottom: 110px;
}

/* Footer Section */

.footer {
    display: flex;
    padding: 130px 230px;
    gap: 50px;
}
.footer-column {
    width: 50%;
}

footer input[type='text'], input[type='email'], input[type='textarea']{
    height: 64px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
